{{define "hello"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/assets/htmx.min.js"></script>

    <title>Reuben Chong</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png" />
    <link rel="manifest" href="/assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="/dist/tailwind.css" />
    <link rel="stylesheet" href="/dist/global.css" />
  </head>
  <body>
    <p>Hello, World!</p>
    <div id="user-info" class="bg-red-100 p-4 rounded-xl">
      <p>{{.Name}}</p>
      <button hx-get="/redirects" hx-redirect="true">Redirect testing</button>
    </div>
    <p>Hello, World!</p>
    <div id="user-info1" class="bg-red-100 p-4 rounded-xl">
      <p>{{.Name}}</p>
      <button hx-get="/get-info" hx-target="#user-info1" hx-swap="innerHTML">Reveal Info</button>
    </div>
    <p>Hello, World!</p>
    <div id="user-info2" class="bg-red-100 p-4 rounded-xl">
      <p>{{.Name}}</p>
      <button hx-get="/get-info" hx-target="#user-info2" hx-swap="innerHTML">Reveal Info</button>
    </div>
    <p>Hello, World!</p>
    <div id="user-info3" class="bg-red-100 p-4 rounded-xl">
      <p>{{.Name}}</p>
      <button hx-get="/get-info" hx-target="#user-info3" hx-swap="innerHTML">Reveal Info</button>
    </div>
    <p>Hello, World!</p>
    <div id="user-info4" class="bg-red-100 p-4 rounded-xl">
      <p>{{.Name}}</p>
      <button hx-get="/get-info" hx-target="#user-info4" hx-swap="innerHTML">Reveal Info</button>
    </div>
    <p>Hello, World!</p>
    <div id="user-info5" class="bg-red-100 p-4 rounded-xl">
      <p>{{.Name}}</p>
      <button hx-get="/get-info" hx-target="#user-info5" hx-swap="innerHTML">Reveal Info</button>
    </div>
    <p>Hello, World!</p>
    <div id="user-info6" class="bg-red-100 p-4 rounded-xl">
      <p>{{.Name}} testest</p>
      <button hx-get="/get-info" hx-target="#user-info6" hx-swap="innerHTML">Reveal Info</button>
    </div>
  </body>
</html>
{{end}}
